.main_container {
    width: 60vw;
    height: 93vh;
    font-family: 'ONE-Mobile-Title';
    background-color: #FCE187;
    margin: 1.5% 20%;
    border-radius: 10px;
}

.header {
    padding: 30px 40px 10px 40px;
}

.header h1 {
    display: flex;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.title_container {
    display: flex;
    justify-content: space-between;
}

.title_container button {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4dcf22 !important;
}

.title_container button:hover {
    background-color: #2DB400 !important;
}

.search {
    font-size: 1rem;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.search input {
    border: 0.5px solid lightgrey;
    border-radius: 7px;
    padding: 10px;
}

.search button {
    padding: 10px 10px;
    background-color: #61a7f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.todo_main_container {
    padding: 20px 20px;
    background-color: #f0f0f0;
}

.todo_main_container ul {
    padding: 0;
}

.input_todo {
    display: flex;
    justify-content: center;
    padding: 7px 0;
}

.input_todo input {
    width: 500px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.input_todo button {
    padding: 7px 12px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.input_todo button:hover {
    background-color: #e4b600;
}

.todo_lists_container {
    margin-bottom: 20px;
}

.total_container {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.total_todo_container,
.completed_todo_container {
    background-color: #f8f8f8;
    padding: 10px 15px;
    margin-bottom: 20px;
    height: 285px;
    display: flex;
    flex-direction: column;
}

.total_todo_container h2,
.completed_todo_container h2 {
    flex-shrink: 0;
    margin-bottom: 10px;
}

.total_todo_container ul,
.completed_todo_container ul {
    margin: 0;
    padding: 0;
    flex: 1;
    overflow-y: auto;
    list-style: none;
}

.todo_lists_container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
}

.comment {
    font-size: 1.2rem;
    color: red;
}

.total_todo,
.completed_todo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
}

.total_todo input[type="checkbox"],
.completed_todo input[type="checkbox"] {
    margin-right: 10px;
}

.total_todo button,
.completed_todo button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
}

.todo_content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo_content input[type='text'] {
    width: 100%;
}

.completed_todo .todo_content {
    text-decoration: line-through;
    color: #999;
}

.icon_buttons {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    gap: 8px;
    margin-left: auto;
}

.delete_button {
    color: red;
}

/* Animations CSS */
.todoEnter {
    opacity: 0;
    transform: translateY(-30px);
}

.todoEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-in-out;
}

.todoExit {
    opacity: 1;
    transform: translateY(0);
}

.todoExitActive {
    opacity: 0;
    transform: translateY(30px);
    transition: all 500ms ease-in-out;
}
